<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nouns practice</title>
  </head>
  <body>
    <h1>Type in a word to practice</h1>
    <label for="word">Word</label>
    <input type="text" id="word">
    <button onclick="startPractice()" type="button">Go</button>
    <script>

      function startPractice() {
        const word = document.getElementById("word");
        window.location.href = `/nouns/practice/${word.value}`;
      }

    </script>
  </body>
</html>
