<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice</title>
  </head>
  <body>
    <h1>Practice for: {{ word }}</h1>
    <h2>What is the {{chosen_case.0}} {{chosen_case.1}}?</h2>
    <!-- <p><em>(correct answer: {{ answer }})</em></p> -->
    <form action="", method="post">
      {% csrf_token %}
      <label for="user_answer">Your answer:</label>
      <input type="text" id="user_answer" name="user_answer" />
      <button type="submit">Submit</button>
    </form>
    <p>Correct answers: {{request.session.correct_answer_num}}</p>
    <form action="/nouns/practice/reset" method="post">
      {% csrf_token %}
      <button type="submit">Reset session</button>
    </form>
  </body>
</html>
